USE [master]
GO
/****** Object:  Database [PROYECTACOMERCIO]    Script Date: 6/4/2026 20:50:44 ******/
CREATE DATABASE [PROYECTACOMERCIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROYECTACOMERCIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PROYECTACOMERCIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROYECTACOMERCIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PROYECTACOMERCIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROYECTACOMERCIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROYECTACOMERCIO]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Direccion] [varchar](255) NULL,
	[CorreoElectronico] [varchar](100) NOT NULL,
	[Telefono] [varchar](15) NULL,
	[DNI] [varchar](20) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[FechaCompra] [datetime] NOT NULL,
	[TipoPago] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[IdDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioCompra] [decimal](18, 2) NULL,
	[Subtotal] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesVenta]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesVenta](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[IdMarca] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoProveedor]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoProveedor](
	[IdProducto] [int] NOT NULL,
	[IdProveedor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC,
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[IdCategoria] [int] NULL,
	[IdMarca] [int] NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[StockActual] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[PorcentajeGanancia] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Detalle] [varchar](255) NULL,
	[CorreoElectronico] [varchar](100) NULL,
	[Telefono] [varchar](15) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[CorreoElectronico] [nvarchar](255) NOT NULL,
	[DNI] [int] NOT NULL,
	[Telefono] [nvarchar](15) NULL,
	[TipoUsuario] [int] NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NULL,
	[Fecha] [datetime] NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Activo]) VALUES (1, N'Sustratos y Tierras', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Activo]) VALUES (2, N'Fertilizantes Líquidos', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Activo]) VALUES (3, N'Herramientas de Mano', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([IdCliente], [Nombre], [Direccion], [CorreoElectronico], [Telefono], [DNI], [Activo]) VALUES (1, N'Juan', N'Combate de san lorenzo 291', N'juan@gmail.com', N'1133282762', N'39157169', 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[DetallesVenta] ON 

INSERT [dbo].[DetallesVenta] ([IdDetalleVenta], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (1, NULL, 1, 2, CAST(8500.00 AS Decimal(10, 2)), CAST(17000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetallesVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([IdMarca], [Nombre], [Activo]) VALUES (1, N'TerraFértil', 1)
INSERT [dbo].[Marcas] ([IdMarca], [Nombre], [Activo]) VALUES (2, N'Tramontina Garden', 1)
INSERT [dbo].[Marcas] ([IdMarca], [Nombre], [Activo]) VALUES (3, N'Fertifox', 1)
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto], [Nombre], [IdCategoria], [IdMarca], [Precio], [StockActual], [StockMinimo], [Activo], [PorcentajeGanancia]) VALUES (1, N'Sustrato Cultivo 25L', 1, 1, CAST(8500.00 AS Decimal(10, 2)), 50, 10, 1, CAST(30.00 AS Decimal(5, 2)))
INSERT [dbo].[Productos] ([IdProducto], [Nombre], [IdCategoria], [IdMarca], [Precio], [StockActual], [StockMinimo], [Activo], [PorcentajeGanancia]) VALUES (2, N'Tijera de Podar Pro', 3, 2, CAST(12000.00 AS Decimal(10, 2)), 15, 5, 1, CAST(25.00 AS Decimal(5, 2)))
INSERT [dbo].[Productos] ([IdProducto], [Nombre], [IdCategoria], [IdMarca], [Precio], [StockActual], [StockMinimo], [Activo], [PorcentajeGanancia]) VALUES (3, N'Fertilizante Floración', 2, 3, CAST(4500.00 AS Decimal(10, 2)), 100, 20, 1, CAST(35.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([IdProveedor], [Nombre], [Detalle], [CorreoElectronico], [Telefono], [Activo]) VALUES (1, N'Distribuidora del Agro', N'Mayorista de fertilizantes', N'ventas@agrodist.com', N'44556677', 1)
INSERT [dbo].[Proveedores] ([IdProveedor], [Nombre], [Detalle], [CorreoElectronico], [Telefono], [Activo]) VALUES (2, N'Importadora Garden', N'Herramientas importadas', N'info@gardenimp.com', N'99887766', 1)
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [CorreoElectronico], [DNI], [Telefono], [TipoUsuario], [Activo]) VALUES (1, N'Andres Admin', N'andres.bntz96@gmail.com', 39517168, N'1133277216', 1, 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__531402F3FBA8DBB7]    Script Date: 6/4/2026 20:50:44 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Usuarios__C035B8DD57F9E104]    Script Date: 6/4/2026 20:50:44 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CorreoElectronico]    Script Date: 6/4/2026 20:50:44 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_CorreoElectronico] UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Marcas] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [PorcentajeGanancia]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([IdProveedor])
GO
ALTER TABLE [dbo].[DetallesVenta]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[DetallesVenta]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Ventas] ([IdVenta])
GO
ALTER TABLE [dbo].[ProductoProveedor]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductoProveedor]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([IdProveedor])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marcas] ([IdMarca])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
/****** Object:  StoredProcedure [dbo].[DelCategoria]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DelCategoria]
    @IdCategoria INT
AS
BEGIN
    UPDATE Categoria SET Activo = 0 WHERE IdCategoria = @IdCategoria
END
GO
/****** Object:  StoredProcedure [dbo].[delCliente]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delCliente]
    @DNI INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [dbo].[Clientes]
    SET [Activo] = 0
    WHERE DNI = @DNI;
END;
GO
/****** Object:  StoredProcedure [dbo].[DelCompra]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DelCompra]
    @IdCompra INT
AS
BEGIN
    DELETE FROM Compras 
    WHERE IdCompra = @IdCompra
END
GO
/****** Object:  StoredProcedure [dbo].[DelMarca]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DelMarca]
    @IdMarca INT
AS
BEGIN
    UPDATE Marcas
    SET Activo = 0
    WHERE IdMarca = @IdMarca
END

GO
/****** Object:  StoredProcedure [dbo].[DelProducto]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DelProducto]
    @IdProducto INT
AS
BEGIN
    SET NOCOUNT ON;

   UPDATE Productos 
    SET Activo = 0
    WHERE IdProducto = @IdProducto;
END;
GO
/****** Object:  StoredProcedure [dbo].[delProveedor]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delProveedor]
    @IdProveedor INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Proveedores
    SET Activo = 0
    WHERE IdProveedor = @IdProveedor;
END
GO
/****** Object:  StoredProcedure [dbo].[DelUsuario]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DelUsuario]
    @IdUsuario INT
AS
BEGIN
    -- Actualiza la columna Activo a 0 en lugar de eliminar el usuario
    UPDATE USUARIOS
    SET Activo = 0
    WHERE IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[DelVenta]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DelVenta]
    @IdVenta INT
AS
BEGIN
    DELETE FROM Ventas
    WHERE IdVenta = @IdVenta
END
GO
/****** Object:  StoredProcedure [dbo].[insCategoria]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insCategoria]
    @Nombre NVARCHAR(100),
    @Activo BIT
AS
BEGIN
    INSERT INTO Categoria (Nombre, Activo) VALUES (@Nombre, @Activo)
END
GO
/****** Object:  StoredProcedure [dbo].[insCliente]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insCliente]
    @Nombre NVARCHAR(100),
    @Direccion NVARCHAR(200),
    @CorreoElectronico NVARCHAR(100),
    @Telefono NVARCHAR(20),
	@DNI NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Clientes (Nombre, Direccion, CorreoElectronico, Telefono, DNI, Activo)
    VALUES (@Nombre, @Direccion, @CorreoElectronico, @Telefono, @DNI, 1);
END;
GO
/****** Object:  StoredProcedure [dbo].[insCompra]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insCompra]
    @IdProveedor INT,
    @FechaCompra DATETIME,
	@TipoPago VARCHAR(50) 
AS
BEGIN
    INSERT INTO Compras (IdProveedor, FechaCompra,TipoPago)
    VALUES (@IdProveedor, @FechaCompra,@TipoPago)
END
GO
/****** Object:  StoredProcedure [dbo].[InsDetalleCompra]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsDetalleCompra]
    @IdCompra INT,
    @IdProducto INT,
    @Cantidad INT,
    @PrecioCompra DECIMAL(18,2),
    @Subtotal DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [dbo].[DetalleCompra]
        ([IdCompra], [IdProducto], [Cantidad], [PrecioCompra], [Subtotal])
    VALUES
        (@IdCompra, @IdProducto, @Cantidad, @PrecioCompra, @Subtotal);

END
GO
/****** Object:  StoredProcedure [dbo].[InsDetalleVenta]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsDetalleVenta]
    @IdVenta INT,
    @IdProducto INT,
   
    @Cantidad INT,
    @PrecioUnitario DECIMAL(18, 2),
    @Subtotal DECIMAL(18, 2)
AS
BEGIN
    INSERT INTO DetallesVenta (IdVenta, IdProducto, Cantidad, PrecioUnitario, Subtotal)
    VALUES (@IdVenta, @IdProducto,  @Cantidad, @PrecioUnitario, @Subtotal);
END
GO
/****** Object:  StoredProcedure [dbo].[InsMarca]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsMarca]
    @Nombre NVARCHAR(100),
	@Activo BIT
AS
BEGIN
    INSERT INTO Marcas (Nombre, Activo)
    VALUES (@Nombre, @Activo)
END
GO
/****** Object:  StoredProcedure [dbo].[insProducto]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insProducto]
    @Nombre NVARCHAR(100),
    @IdCategoria INT,
    @IdMarca INT,
    @Precio DECIMAL(18, 2),
    @StockActual INT,
    @StockMinimo INT,
	@PorcentajeGanancia Decimal

AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Productos (Nombre, IdCategoria, IdMarca, Precio, StockActual, StockMinimo, Activo,  PorcentajeGanancia)
    VALUES (@Nombre, @IdCategoria, @IdMarca, @Precio, @StockActual, @StockMinimo, 1 ,  @PorcentajeGanancia);
    
    SELECT SCOPE_IDENTITY() AS IdProducto; 
END;
GO
/****** Object:  StoredProcedure [dbo].[insProveedor]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insProveedor]
@Nombre NVARCHAR(100),
@Detalle NVARCHAR(200),
@CorreoElectronico NVARCHAR(100),
@Telefono NVARCHAR(20),
@Activo BIT = 1
AS
BEGIN
    INSERT INTO Proveedores (Nombre, Detalle, CorreoElectronico, Telefono, Activo)
    VALUES (@Nombre, @Detalle, @CorreoElectronico, @Telefono, @Activo);
END
GO
/****** Object:  StoredProcedure [dbo].[InsUsuario]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsUsuario]
    @Nombre NVARCHAR(100),
    @CorreoElectronico NVARCHAR(255),
    @DNI INT,
    @Telefono NVARCHAR(15),
    @TipoUsuario INT
AS
BEGIN
    INSERT INTO USUARIOS (Nombre, CorreoElectronico, DNI, Telefono, TipoUsuario,Activo )
    VALUES (@Nombre, @CorreoElectronico, @DNI, @Telefono, @TipoUsuario, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[InsVenta]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsVenta]
    @IdCliente INT,
    @Fecha DATETIME,
    @Total DECIMAL(18, 2)
AS
BEGIN
    INSERT INTO Ventas (IdCliente, Fecha, Total)
    VALUES (@IdCliente, @Fecha, @Total)
END
GO
/****** Object:  StoredProcedure [dbo].[Loguear]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Loguear]
    @CorreoElectronico NVARCHAR(255),
    @DNI INT
AS
BEGIN
    SELECT IdUsuario, Nombre, TipoUsuario
    FROM USUARIOS
    WHERE CorreoElectronico = @CorreoElectronico AND DNI = @DNI
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProductosBajoStock]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerProductosBajoStock]
AS
BEGIN
    SELECT 
        [IdProducto],
        [Nombre],
        [IdCategoria],
        [IdMarca],
        [Precio],
        [StockActual],
        [StockMinimo],
        [Activo]
    FROM [PROYECTACOMERCIO].[dbo].[Productos]
    WHERE [StockActual] <= [StockMinimo]
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUltimoIdCompra]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUltimoIdCompra]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP 1 IdCompra
    FROM [dbo].[Compras]
    ORDER BY IdCompra DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioPorId]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarioPorId]
    @IdUsuario INT
AS
BEGIN
    SELECT IdUsuario, Nombre, CorreoElectronico, DNI, Telefono, TipoUsuario, Activo
    FROM USUARIOS
    WHERE IdUsuario = @IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[SelCategorias]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelCategorias]
AS
BEGIN
    SELECT IdCategoria, Nombre, Activo 
    FROM Categoria 
 
END
GO
/****** Object:  StoredProcedure [dbo].[SelCategoriasActivas]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelCategoriasActivas]
AS
BEGIN
    SELECT IdCategoria, Nombre, Activo
    FROM Categoria
    WHERE Activo = 1; -- Opcional: Filtrar solo categorías activas.
END
GO
/****** Object:  StoredProcedure [dbo].[SelClientePorId]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SelClientePorId]
    @DNI INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdCliente, 
        Nombre, 
        Direccion, 
        CorreoElectronico, 
        Telefono,
		DNI
    FROM 
        Clientes 
    WHERE 
        DNI = @DNI
		AND Activo = 1;
END

GO
/****** Object:  StoredProcedure [dbo].[SelClientes]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SelClientes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdCliente, 
        Nombre, 
        Direccion, 
        CorreoElectronico, 
        Telefono, 
		DNI
    FROM 
        Clientes
		WHERE
        Activo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SelCompraPorId]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelCompraPorId]
    @IdCompra INT
AS
BEGIN
    SELECT 
        c.IdCompra, 
        c.IdProveedor, 
        p.Nombre AS NombreProveedor, 
        c.FechaCompra 
    FROM 
        Compras c
    INNER JOIN 
        Proveedores p ON c.IdProveedor = p.IdProveedor  
    WHERE 
        c.IdCompra = @IdCompra
END
GO
/****** Object:  StoredProcedure [dbo].[SelCompras]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelCompras]
AS
BEGIN
    SELECT 
        c.IdCompra, 
        c.IdProveedor, 
        p.Nombre AS NombreProveedor,  
        c.FechaCompra, 
		c.TipoPago
    FROM 
        Compras c
    INNER JOIN 
        Proveedores p ON c.IdProveedor = p.IdProveedor  
		ORDER BY 
        c.IdCompra DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SelDetallesCompra]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelDetallesCompra]
    @IdCompra INT
AS
BEGIN
    SELECT 
        dc.IdDetalleCompra, 
        dc.IdProducto, 
        p.Nombre,  
        dc.Cantidad, 
        dc.PrecioCompra, 
		dc.Cantidad * dc.PrecioCompra AS Subtotal
    FROM 
        DetalleCompra dc
    INNER JOIN 
        Productos p ON dc.IdProducto = p.IdProducto  
    WHERE 
        dc.IdCompra = @IdCompra
END
GO
/****** Object:  StoredProcedure [dbo].[SelDetallesPorVenta]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelDetallesPorVenta]
    @IdVenta INT
AS
BEGIN
    SELECT 
        DV.IdDetalleVenta, 
        DV.IdVenta, 
        DV.IdProducto, 
        P.Nombre AS NombreProducto,  
        DV.Cantidad, 
        DV.PrecioUnitario, 
        DV.Subtotal
    FROM DetallesVenta DV
    INNER JOIN Productos P ON DV.IdProducto = P.IdProducto  
    WHERE DV.IdVenta = @IdVenta
END
GO
/****** Object:  StoredProcedure [dbo].[SelDetallesVenta]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelDetallesVenta]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (1000) 
        DV.[IdDetalleVenta], 
        DV.[IdVenta], 
        DV.[IdProducto], 
        P.Nombre AS NombreProducto, 
        DV.[Cantidad], 
        DV.[PrecioUnitario], 
        (DV.[Cantidad] * DV.[PrecioUnitario]) AS Subtotal  
    FROM [PROYECTACOMERCIO].[dbo].[DetallesVenta] DV
    INNER JOIN [PROYECTACOMERCIO].[dbo].[Productos] P ON DV.IdProducto = P.IdProducto
END
GO
/****** Object:  StoredProcedure [dbo].[SelMarcaPorId]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelMarcaPorId]
    @IdMarca INT
AS
BEGIN
    SELECT IdMarca, Nombre, Activo
    FROM Marcas
    WHERE IdMarca = @IdMarca
END
GO
/****** Object:  StoredProcedure [dbo].[SelMarcas]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelMarcas]
AS
BEGIN
    SELECT IdMarca, Nombre, Activo
    FROM Marcas
END
GO
/****** Object:  StoredProcedure [dbo].[SelMarcasActivas]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelMarcasActivas]
AS
BEGIN
    SELECT IdMarca, Nombre, Activo
    FROM Marcas
    WHERE Activo = 1; -- Opcional: Filtrar solo marcas activas.
END
GO
/****** Object:  StoredProcedure [dbo].[SelProductoPorId]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelProductoPorId]
    @IdProducto INT
AS
BEGIN
    SELECT IdProducto, Nombre, IdCategoria, IdMarca, Precio, StockActual, StockMinimo, PorcentajeGanancia
    FROM Productos
    WHERE IdProducto = @IdProducto
	AND Activo = 1
END
GO
/****** Object:  StoredProcedure [dbo].[SelProductoPorNombre]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelProductoPorNombre]
    @Nombre NVARCHAR(100)
AS
BEGIN
    SELECT IdProducto, Nombre, IdCategoria, IdMarca, Precio, StockActual, StockMinimo, PorcentajeGanancia
    FROM Productos
    WHERE Nombre LIKE '%' + @Nombre + '%'
	  AND Activo = 1 
END
GO
/****** Object:  StoredProcedure [dbo].[SelProductos]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SelProductos]
AS
BEGIN
    -- Selecciona todos los productos
    SELECT 
        IdProducto,
        Nombre,
        IdCategoria,
        IdMarca,
        Precio,
        StockActual,
        StockMinimo,
		PorcentajeGanancia
    FROM 
        dbo.Productos
	WHERE 
        Activo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SelProductosConDetalles]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelProductosConDetalles]
AS
BEGIN
    SELECT 
        p.IdProducto,
        p.Nombre,
        c.IdCategoria,  -- ID de la categoría
        c.Nombre AS NombreCategoria,
        m.IdMarca,      -- ID de la marca
        m.Nombre AS NombreMarca,
        p.Precio,
        p.StockActual,
        p.StockMinimo,
		p.PorcentajeGanancia
    FROM 
        Productos p
    INNER JOIN Categoria c ON p.IdCategoria = c.IdCategoria
    INNER JOIN Marcas m ON p.IdMarca = m.IdMarca
	WHERE 
        p.Activo = 1; 
END
GO
/****** Object:  StoredProcedure [dbo].[SelProductosPorNombre]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelProductosPorNombre]
    @Nombre NVARCHAR(100)
AS
BEGIN
    SELECT IdProducto, Nombre, IdCategoria, IdMarca, Precio, StockActual, StockMinimo, PorcentajeGanancia
    FROM Productos
    WHERE Nombre LIKE @Nombre AND Activo = 1
END
GO
/****** Object:  StoredProcedure [dbo].[SelProductosPorProveedor]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SelProductosPorProveedor]
    @IdProveedor INT
AS
BEGIN
    SELECT 
        p.IdProducto, 
        p.Nombre
    FROM 
        [dbo].[ProductoProveedor] pp
    INNER JOIN 
        [dbo].[Productos] p 
        ON pp.IdProducto = p.IdProducto
    WHERE 
        pp.IdProveedor = @IdProveedor;
END
GO
/****** Object:  StoredProcedure [dbo].[SelProveedores]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelProveedores]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdProveedor, Nombre, Detalle, CorreoElectronico, Telefono, Activo
    FROM Proveedores
	WHERE Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[selProveedorPorId]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[selProveedorPorId]
    @IdProveedor INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdProveedor, Nombre, Detalle, CorreoElectronico, Telefono, Activo
    FROM Proveedores
    WHERE IdProveedor = @IdProveedor
	AND Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[SelReportComprasPorProveedor]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SelReportComprasPorProveedor]
    @FechaInicio DATE,
    @FechaFin DATE,
    @IdProveedor INT = NULL -- Parámetro opcional para filtrar por proveedor
AS
BEGIN
    SELECT 
        c.IdCompra,
        c.FechaCompra,
        p.Nombre AS Proveedor,
        c.TipoPago,
        pp.IdProducto,
        pr.Nombre AS Producto,
        dc.Cantidad,
		dc.PrecioCompra,
        dc.Subtotal
    FROM 
        Compras c
		INNER JOIN 
        DetalleCompra dc ON c.IdCompra = dc.IdCompra
    INNER JOIN 
        ProductoProveedor pp ON c.IdProveedor = pp.IdProveedor
    INNER JOIN 
        Proveedores p ON c.IdProveedor = p.IdProveedor
    INNER JOIN 
        Productos pr ON pp.IdProducto = pr.IdProducto
    WHERE
        c.FechaCompra BETWEEN @FechaInicio AND @FechaFin
        AND (@IdProveedor IS NULL OR c.IdProveedor = @IdProveedor) 
    ORDER BY
        c.FechaCompra;
END
GO
/****** Object:  StoredProcedure [dbo].[SelReportVentasPorCliente]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelReportVentasPorCliente]
    @FechaInicio DATE,
    @FechaFin DATE,
    @IdCliente INT = NULL -- Parámetro opcional
AS
BEGIN
    SELECT 
        v.IdVenta,
        v.Fecha,
        c.Nombre AS Cliente,
        v.Total,
        dv.IdProducto,
        p.Nombre AS Producto,
        dv.Cantidad,
        dv.PrecioUnitario,
        dv.Subtotal
    FROM 
        Ventas v
    INNER JOIN 
        DetallesVenta dv ON v.IdVenta = dv.IdVenta
    INNER JOIN 
        Clientes c ON v.IdCliente = c.IdCliente
    INNER JOIN 
        Productos p ON dv.IdProducto = p.IdProducto
    WHERE
        v.Fecha BETWEEN @FechaInicio AND @FechaFin
        AND (@IdCliente IS NULL OR v.IdCliente = @IdCliente) -- Filtro opcional
    ORDER BY
        v.Fecha;
END
GO
/****** Object:  StoredProcedure [dbo].[SelStockProducto]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelStockProducto]
    @IdProducto INT
AS
BEGIN
    SELECT StockActual
    FROM Productos
    WHERE IdProducto = @IdProducto
END
GO
/****** Object:  StoredProcedure [dbo].[SelTotalClientes]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelTotalClientes]
AS
BEGIN
    SELECT COUNT(*) AS TotalClientes
    FROM Clientes;  
END;
GO
/****** Object:  StoredProcedure [dbo].[SelTotalProductos]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelTotalProductos]
AS
BEGIN
    SELECT COUNT(*) AS TotalProductos
    FROM Productos  
    WHERE StockActual > 0;  
END;
GO
/****** Object:  StoredProcedure [dbo].[SelTotalProveedores]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelTotalProveedores]
AS
BEGIN
    SELECT COUNT(*) AS TotalProveedores
    FROM Proveedores 
    WHERE Activo = 1;  
END;
GO
/****** Object:  StoredProcedure [dbo].[SelTotalVentasMes]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelTotalVentasMes]
AS
BEGIN
    SELECT SUM(Total) AS TotalVentas
    FROM Ventas
    WHERE MONTH(Fecha) = MONTH(GETDATE()) AND YEAR(Fecha) = YEAR(GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[SelUltimaVenta]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelUltimaVenta]
AS
BEGIN
    SELECT TOP 1 IdVenta
    FROM Ventas
    ORDER BY IdVenta DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SelUsuariosCompleto]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelUsuariosCompleto]
AS
BEGIN
    SELECT IdUsuario, Nombre, CorreoElectronico, DNI, Telefono, TipoUsuario, Activo
    FROM USUARIOS
	WHERE Activo = 1
END
GO
/****** Object:  StoredProcedure [dbo].[SelVentaPorId]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelVentaPorId]
    @IdVenta INT
AS
BEGIN
    SELECT 
        v.IdVenta,
        v.IdCliente,
        c.Nombre AS NombreCliente,
        v.Fecha,
        v.Total
    FROM 
        Ventas v
    INNER JOIN 
        Clientes c ON v.IdCliente = c.IdCliente
    WHERE 
        v.IdVenta = @IdVenta;
END;
GO
/****** Object:  StoredProcedure [dbo].[SelVentas]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelVentas]
AS
BEGIN
    SELECT V.IdVenta, 
           V.IdCliente, 
           C.Nombre AS NombreCliente, 
           V.Fecha, 
           V.Total
    FROM Ventas V
    INNER JOIN Clientes C ON V.IdCliente = C.IdCliente
	ORDER BY V.IdVenta DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerCategoriaPorId]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerCategoriaPorId]
    @IdCategoria INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdCategoria,
        Nombre,
        Activo
    FROM 
        Categoria
    WHERE 
        IdCategoria = @IdCategoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[updCategoria]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updCategoria]
    @IdCategoria INT,
    @Nombre NVARCHAR(100),
    @Activo BIT
AS
BEGIN
    UPDATE Categoria SET Nombre = @Nombre, Activo = @Activo WHERE IdCategoria = @IdCategoria
END
GO
/****** Object:  StoredProcedure [dbo].[updCliente]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updCliente]
    @IdCliente INT,
    @Nombre NVARCHAR(100),
    @Direccion NVARCHAR(200),
    @CorreoElectronico NVARCHAR(100),
    @Telefono NVARCHAR(20),
	@DNI NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Clientes
    SET Nombre = @Nombre,
        Direccion = @Direccion,
        CorreoElectronico = @CorreoElectronico,
        Telefono = @Telefono,
		DNI= @DNI
    WHERE DNI = @DNI;
END;
GO
/****** Object:  StoredProcedure [dbo].[updCompra]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updCompra]
    @IdCompra INT,
    @IdProveedor INT,
    @FechaCompra DATETIME
AS
BEGIN
    UPDATE Compras
    SET IdProveedor = @IdProveedor, FechaCompra = @FechaCompra
    WHERE IdCompra = @IdCompra
END
GO
/****** Object:  StoredProcedure [dbo].[UpdMarca]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdMarca]
    @IdMarca INT,
    @Nombre NVARCHAR(255),
    @Activo BIT -- Agregar el parámetro para el estado activo
AS
BEGIN
    UPDATE Marcas
    SET 
        Nombre = @Nombre,
        Activo = @Activo -- Actualizar el estado activo
    WHERE IdMarca = @IdMarca
END
GO
/****** Object:  StoredProcedure [dbo].[updProducto]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updProducto]
    @IdProducto INT,
    @Nombre NVARCHAR(100),
    @IdCategoria INT,
    @IdMarca INT,
    @Precio DECIMAL(18, 2),
    @StockActual INT,
    @StockMinimo INT,
	@PorcentajeGanancia Decimal
	
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Productos
    SET Nombre = @Nombre,
        IdCategoria = @IdCategoria,
        IdMarca = @IdMarca,
        Precio = @Precio,
        StockActual = @StockActual,
        StockMinimo = @StockMinimo,
		PorcentajeGanancia = @PorcentajeGanancia
    WHERE IdProducto = @IdProducto
	AND Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[updProveedor]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updProveedor]
    @IdProveedor INT,
    @Nombre NVARCHAR(100),
    @Detalle NVARCHAR(200),
    @CorreoElectronico NVARCHAR(100),
    @Telefono NVARCHAR(20),
	@Activo BIT = 1
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Proveedores
    SET Nombre = @Nombre,
        Detalle = @Detalle,
        CorreoElectronico = @CorreoElectronico,
        Telefono = @Telefono,
		Activo = @Activo
    WHERE IdProveedor = @IdProveedor;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdStockProducto]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdStockProducto]
    @IdProducto INT,
    @StockActual INT
AS
BEGIN
    UPDATE Productos
    SET StockActual = @StockActual
    WHERE IdProducto = @IdProducto;
END;
GO
/****** Object:  StoredProcedure [dbo].[updUsuario]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updUsuario]
    @IdUsuario INT,
    @Nombre NVARCHAR(100),
    @CorreoElectronico NVARCHAR(100),
    @DNI INT,
    @Telefono NVARCHAR(15),
    @TipoUsuario INT
	
AS
BEGIN
    UPDATE USUARIOS
    SET Nombre = @Nombre,
        CorreoElectronico = @CorreoElectronico,
        DNI = @DNI,
        Telefono = @Telefono,
        TipoUsuario = @TipoUsuario,
		 Activo = 1
    WHERE IdUsuario = @IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[UpdVenta]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdVenta]
    @IdVenta INT,
    @IdCliente INT,
    @Fecha DATETIME,
    @Total DECIMAL(18, 2)
AS
BEGIN
    UPDATE Ventas
    SET IdCliente = @IdCliente, Fecha = @Fecha, Total = @Total
    WHERE IdVenta = @IdVenta
END
GO
/****** Object:  StoredProcedure [dbo].[verificarUsuarioExistente]    Script Date: 6/4/2026 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[verificarUsuarioExistente]
    @DNI INT,
    @CorreoElectronico NVARCHAR(255)
AS
BEGIN
    DECLARE @Existe INT;
    SELECT @Existe = COUNT(*)
    FROM USUARIOS
    WHERE (DNI = @DNI OR CorreoElectronico = @CorreoElectronico) AND Activo = 1;
    
    SELECT @Existe AS Existe;
END
GO
USE [master]
GO
